<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Welcome to LingoLink!</title>

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/index.css" />

    <!-- Bootstrap CDN -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7"
      crossorigin="anonymous"
    />
  </head>

  <body class="d-flex flex-column align-items-center justify-content-center vh-100 text-center bg-light">
    <div id="icon" class="mb-5">
      <img src="/img/LingoLinkLogo.png" alt="LingoLink Logo" style="max-width: 300px; width: 100%;" />
    </div>

    <!-- Sign in / Sign up buttons -->
    <div id="signupsignin" class="d-flex gap-4">
      <div id="signin" class="btn btn-primary px-4 py-2">Sign in</div>
      <div id="signup" class="btn btn-outline-primary px-4 py-2">Sign up</div>
    </div>

    <script src="/js/signupsigninredirect.js"></script>
  </body>
</html>
